@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full" data-id="dgLoader"></script>
    <script src="http://catalog.api.2gis.ru/assets/apitracker.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/map")

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Карта</a></li>
                    <li role="presentation"><a href="#">Описание</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Найди оптимальный путь!</h3>
        </div>

        @RenderBody()

        <footer class="footer">
            <p>&copy; Company 2014</p>
        </footer>

    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/npm")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


